numpy==1.23.5
scipy
librosa
numba
faiss-cpu
Cython
pydub>=0.25.1
soundfile>=0.12.1
ffmpeg-python>=0.2.0
tensorboardX
matplotlib>=3.7.0
praat-parselmouth>=0.4.2
resampy>=0.4.2
scikit-learn
tensorboard
tqdm>=4.63.1
pyworld==0.3.2
torchcrepe==0.0.20
torchfcpe
av
ffmpy==0.3.1
python-dotenv>=1.0.0
fairseq==0.12.2
